.header{
    background-color: blue;
    padding: 2rem;

    .same{
        color: aliceblue;
        text-decoration: none;
        margin-left: 1rem;
    }
    .active{
        color: rgb(255, 187, 0);
    }
}